<div class="container-fluid">
    <row class ="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"> <h2>Create a Kickaround</h2></div>
            <div class="panel-body">
                <row class = "col-md-12">
                    <div class ="col-md-2">
                        <label>Name of Kickaround</label>
                    </div>
                    <div class ="col-md-10">
                        <input style="width: 100%;"> </input>
                    </div>
                </row>

                <!--Day of the week?-->
                <row class = "col-md-12" style="padding-top: 20px">
                    <div class ="col-md-2">
                        <label>What day of the week do you play?</label>
                    </div>
                    <div class ="col-md-10">
                        <form action="">
                            <input type="radio" name="day" value="Monday">Monday<br>
                            <input type="radio" name="day" value="Tuesday">Tuesday<br>
                            <input type="radio" name="day" value="Wednesday">Wednesday<br>
                            <input type="radio" name="day" value="Thursday">Thursday<br>
                            <input type="radio" name="day" value="Friday">Friday<br>
                            <input type="radio" name="day" value="Saturday">Saturday<br>
                            <input type="radio" name="day" value="Sunday">Sunday<br>
                        </form>
                    </div>
                </row>

                <!--Time you play?-->
                <row class = "col-md-12" style="padding-top: 20px">
                    <div class ="col-md-2">
                        <label>Time of Kickaround</label>
                    </div>
                    <div class ="col-md-4" ng-controller="TimepickerDemoCtrl">

                        <div ng-controller="TimepickerDemoCtrl">
                            <timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                        </div>

                    </div>
                </row>

                <!--Standard of Football?-->
                <row class = "col-md-12" style="padding-top: 20px">
                    <div class ="col-md-2">
                        <label>Standard of Football</label>
                    </div>

                    <div class ="col-md-2" ng-controller="RatingDemoCtrl">
                        <rating style="margin-left: 20px" ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
                    </div>

                </row>


                <!--Standard of Football?-->
                <row class = "col-md-12" style="padding-top: 20px">
                    <div class ="col-md-2">
                        <label>Invite Players</label>
                        <p>(Copy & paste email addresses into this box)</p>
                    </div>

                    <div class ="col-md-10">
                        <textarea style="width: 100%; height: 200px"></textarea>
                    </div>
                </row>

                <!--Standard of Football?-->
                <row class = "col-md-12" style="padding-top: 20px">
                    <div class ="col-md-1 col-md-offset-11">
                        <button style="width: 100%">Submit</button>
                    </div>
                </row>

            </div>
        </div>
    </row>
    <row>

    </row>
</div>