<link rel="stylesheet" href="css/main.css">
<script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
<script src="js/vendor/video.js"></script>
<script src="js/plugins.js"></script>
<script src="js/landing.js"></script>
<!--[if lte IE 9]>
<link rel="stylesheet" type="text/css" href="css/ie9-and-down.css" />
<![endif]-->

<style>
    .form-control {
        height: 45px;
        font-size: 18px;
        background: rgba(255, 255, 255, 0.5);
        border: none;
        outline: none;
    }

    .form-control::-webkit-input-placeholder {
        color: #ffffff;
    }
    .form-control:-moz-placeholder {
        /* FF 4-18 */
        color: #ffffff;
    }
    .form-control::-moz-placeholder {
        /* FF 19+ */
        color: #ffffff;
    }
    .form-control:-ms-input-placeholder {
        /* IE 10+ */
        color: #ffffff;
    }
    .arrow,
    .login_but{
        cursor: pointer;
    }

</style>


<div class="main">

    <section class="home">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <img style="padding-top: 25%; padding-bottom: 30px; width: 100%" src="img/global/logo_plus_slogan.png" alt="">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 col-sm-offset-4" style="padding-top: 30px;">
                    <input type="email" class="form-control" id="exampleInputEmail0" placeholder="Enter email" style="width: 100%">
                </div>
            </div>
            <div class="row">
                <div style="padding-top: 30px;"  class="col-sm-4 col-sm-offset-4 ">
                    <input type="password" class="form-control" id="exampleInputEmail1" placeholder="Password">
                </div>
            </div>
            <div class="row">
                <div class="container col-sm-4 col-sm-offset-4" style="padding-top: 30px;">
                    <div class="row">
                        <div class="col-sm-4">
                            <img class="login_but" src="img/landing/login_help/login_help.png" width="100%">
                        </div>
                        <div class="col-sm-4">
                            <img class="login_but" src="img/landing/fb_login/fb_login.png" width="100%">
                        </div>
                        <div class="col-sm-4">
                            <img class="login_but" src="img/landing/login/login.png" width="100%">
                        </div>
                    </div>
                </div>
            </div>
            <div style="padding-top: 30px" class="row">
                <div class="container col-sm-4 col-sm-offset-4" style="padding-top: 10px;">
                    <div class="row">
                        <div class="col-sm-5 col-sm-offset-1 " >
                            <img class="arrow home-find-more" src="img/landing/find_out_more_small.png" width="100%">
                        </div>
                        <div class="col-sm-5 ">
                            <img class="arrow home-sign-up" src="img/landing/sign_up_small.png"  width="100%">
                        </div>

                        <!--<span class="take-a-look animated fadeInDown delay-3"><i class="entypo-down-open"></i>More Info</span>-->
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section id="slide1" class="slide-1 slide ">
        <div class="container">


            <div class="col-xs-12 col-sm-5 iphone-container ">
                <img src="img/landing/app_screen_shots/iphone_too_many.png" class="hide iphone-1" alt="">
            </div>

            <div class="col-xs-12 col-sm-6 copy">
                <div class="row"style="padding-top: 40px">
                </div>
                <div >
                    <h2 class=" hide slide-1-title slide-titles"> TOO FEW/MANY PLAYERS TURNING UP AT YOUR KICKAROUND? </h2>
                    <p class="slide-1-1 hide">
                        <strong> Organise matches</strong> each week finding extra players locally if you are short and <strong>control numbers if you’re not</strong>
                    </p>

                    <p class="slide-1-2 hide hidden-xs">
                        <strong>No registration needed</strong> for players, only the organiser needs to sign up
                    </p>

                    <div class="container col-sm-10 col-sm-offset-2" style="padding-top: 10px;">
                        <div class="row">
                            <div class="col-sm-4 " >
                                <img class="arrow slide-1-3 hide slide1-find-more" src="img/landing/find_out_more_small.png" width="100%">
                            </div>
                            <div class="col-sm-4 " >
                                <img class="arrow slide-1-3 hide slide1-sign-up" src="img/landing/sign_up_small.png" width="100%">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section id="slide2" class="slide-2 slide">
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-sm-offset-2 copy" style="align-items: center">
                    <h3 class=" hide slide-2-title slide-titles"> LOOKING FOR A KICKAROUND NEAR YOUR AREA&#63</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 iphone-container">
                    <img src="img/landing/app_screen_shots/ipad_find_a_kickaround.png" width="100%" class="hide iphone-2" alt="">
                </div>
            </div>

            <div class="row">
                <div class="container col-sm-6 col-sm-offset-4" style="padding-top: 20px;">
                    <div class="row">
                        <div class="col-sm-4 " >
                            <img class="arrow slide-2-2 hide slide2-find-more" src="img/landing/find_out_more_small.png" width="100%">
                        </div>
                        <div class="col-sm-4 " >
                            <img class="arrow slide-2-2 hide slide2-sign-up" src="img/landing/sign_up_small.png" width="100%">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section id="slide3" class="slide-3 slide ">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-sm-6 copy">

                    <div class="row"style="padding-top: 80px">
                    </div>

                    <h2 class=" hide slide-3-title slide-titles">  Chasing payments every week? </h2>
                    <p class="slide-3-1 hide">
                        <strong> Accept online payment </strong> through paypal and mobile payments, whilst still allowing some people to pay with cash
                    </p>

                    <p class="slide-3-2 hide hidden-xs">
                        Keep track of <strong>who has paid</strong> and <strong>who hasn’t</strong>, we can even do the <strong>chasing up</strong> if you would like us to.
                    </p>

                    <div class="container col-sm-10 col-sm-offset-2" style="padding-top: 10px;">
                        <div class="row">
                            <div class="col-sm-4 " >
                                <img class="arrow slide-3-3 hide slide3-find-more" src="img/landing/find_out_more_small.png" width="100%">
                            </div>
                            <div class="col-sm-4 " >
                                <img class="arrow slide-3-3 hide slide3-sign-up" src="img/landing/sign_up_small.png" width="100%">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-4 iphone-container ">
                    <img src="img/landing/app_screen_shots/iphone_chasing_payments.png" width="100%" class="hide iphone-3" alt="">
                </div>
            </div>

        </div>
    </section>

    <section id="slide4" class="slide-4 slide ">
        <div class="container">

            <div class="row">
                <div class="col-sm-12 copy col-sm-offset-2" style="align-items: center">
                    <h2 class=" hide slide-4-title slide-titles"> DON'T WASTE TIME, CHOOSE YOUR SIDES BEFORE</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-10 iphone-container col-sm-offset-1">
                    <img src="img/landing/app_screen_shots/imac_chosing_sides-01.png" width="100%" class="hide iphone-4" alt="">
                </div>
            </div>

            <div class="row">
                <div class="container col-sm-6 col-sm-offset-4" style="padding-top: 10px;">
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-2" >
                            <img class="arrow slide-4-2 hide slide4-sign-up" src="img/landing/sign_up_small.png" width="100%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="signup">
        <div class="container">
            <div class="row">
                <div style="padding:0">

                </div>
            </div>
            <div class="row">
                <div style="padding-top: 12%;" class="col-md-8 col-md-offset-2">
                    <img style="width: 100%" src="img/global/logo_plus_sign_up.png" alt="">
                </div>
            </div>
            <div class="row">
                <div class="row" style="padding-top: 30px">

                </div>
                <div class="row">
                    <div class="col-sm-2 col-sm-offset-4">
                        <input type="text" class="form-control" id="signupFirstNameText" placeholder="First Name" style="width: 100%">
                    </div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="signupLastNameText" placeholder="Last Name" style="width: 100%">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4" style="padding-top: 30px;">
                        <input type="email" class="form-control" id="signupInputEmail" placeholder="Enter email" style="width: 100%">
                    </div>
                </div>
                <div class="row">
                    <div style="padding-top: 30px;"  class="col-sm-4 col-sm-offset-4 ">
                        <input type="password" class="form-control" id="signupPassword" placeholder="Password">
                    </div>
                </div>
                <div style="padding-top: 30px" class="row">
                    <div class="col-sm-2 col-sm-offset-4" >
                        <img src="img/landing/fb_sign_up/fb_sign_up.png" width="100%">
                    </div>
                    <div class="col-sm-2">
                        <img src="img/landing/sign_up/sign_up_norm.png" width="100%">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
