<div ng-controller="CookieController">
    <h3>Cookie data:</h3>
    <input type="text" value="{{cookie_value}}"/>
    <button ng-click="saveCookie()">Save</button>
    <button ng-click="getCookie()">Get</button>
    <button ng-click="removeCookie()">Remove</button>
</div>

