<div ng-controller="CookieController">
    <h3>Cookie data:</h3>
    <input type="text" ng-value="cookie_data"/>
    <button ng-click="addOne()">Add One</button>
    <button ng-click="save()">Save</button>
    <button ng-click="remove()">Remove</button>
    <button ng-click="remove()">Remove</button>
    <button ng-click="logIn()">Login</button>
    <label>{{scopeVal}}</label>
</div>
