<div class="container-fluid">
    <row class ="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"> <h2>Sign up to Football Matcher</h2></div>

            <div class="panel-body">
                <row class = "col-md-12">
                    <div class ="col-md-2">
                        <label>First Name</label>
                    </div>
                    <div class ="col-md-10">
                        <input style="width: 100%;"> </input>
                    </div>
                </row>
                <row class = "col-md-12">
                    <div class ="col-md-2">
                        <label>Last Name</label>
                    </div>
                    <div class ="col-md-10">
                        <input style="width: 100%;"> </input>
                    </div>
                </row>

                <row class = "col-md-12">
                    <div class ="col-md-2">
                        <label>Email Address</label>
                    </div>
                    <div class ="col-md-10">
                        <input style="width: 100%;"> </input>
                    </div>
                </row>

                <row class = "col-md-12">
                    <div class ="col-md-2">
                        <label>Password</label>
                    </div>
                    <div class ="col-md-10">
                        <input style="width: 100%;"> </input>
                    </div>
                </row>

                <row class = "col-md-12">
                    <div class ="col-md-2">
                        <label>Confirm Password</label>
                    </div>
                    <div class ="col-md-10">
                        <input style="width: 100%;"> </input>
                    </div>
                </row>

                <!--Standard of Football?-->
                <row class = "col-md-12" style="padding-top: 20px">
                    <div class ="col-md-1 col-md-offset-11">
                        <button style="width: 100%">Submit</button>
                    </div>
                </row>

            </div>
        </div>
    </row>
    <row>

    </row>
</div>