<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Football Matcher</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="bower_components/angular/angular.js" language="JavaScript"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js" language="JavaScript"></script>
    <script src="bower_components/angular-resource/angular-resource.js" language="JavaScript"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js" language="JavaScript"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js" language="JavaScript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
    <script src="js/app.js" language="JavaScript"></script>
    <script src="js/auth.js" language="JavaScript"></script>
    <script src="js/config.js" language="JavaScript"></script>
    <script src="js/factory.js" language="JavaScript"></script>
    <script src="js/controllers.js" language="JavaScript"></script>
    <script src="js/services.js" language="JavaScript"></script>
    <script src="js/filters.js" language="JavaScript"></script>
    <script src="js/directives.js" language="JavaScript"></script>
</head>

<!-- apply our angular app to our site -->
<body ng-app="myApp">

<!-- NAVIGATION -->
<nav class="navbar navbar-default" role="navigation" ng-controller="NavbarController">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="img/global/official_logo_black.png" width="150px">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ng-show="isLoggedIn" ng-class="{active:isActive('/home')}"> <a ui-sref="home">Your Kickarounds<span class="sr-only">(current)</span></a></li>
                <li ng-show="isLoggedIn" ng-class="{active:isActive('/payments')}">  <a ui-sref="payments">Payments</a></li>
                <li ng-show="isLoggedIn" ng-class="{active:isActive('/kickaround/create')}"> <a ui-sref="ka_create">Create</a></li>
                <li ng-show="isLoggedIn" ng-class="{active:isActive('/kickaround/find')}"> <a ui-sref="ka_find">Find</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li ng-show="isLoggedIn" dropdown is-open="status.isopen" ng-controller="LogInController">
                    <a class="dropdown-toggle" dropdown-toggle ng-disabled="disabled" >Welcome, Phil <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ui-sref="profile">Profile</a></li>
                        <li><a ui-sref="account">Account</a></li>
                        <li class="divider"></li>
                        <li><a ui-sref="logout" ng-click="logOut()">Log Out</a></li>
                    </ul>
                </li>

                <div style="padding-top: 10px" ng-show="!isLoggedIn" ng-controller="LogInController">
                    <form ng-submit="authenticate()">
                        <label>Username</label>
                        <input type="text" ng-model="username">
                        <label>Password</label>
                        <input type="text" ng-model="password">
                        <button>Login</button>
                    </form>
                </div>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div id="fb-root"></div>

<!-- MAIN CONTENT -->
<!-- THIS IS WHERE WE WILL INJECT OUR CONTENT ============================== -->
<div class="container">
    <div ui-view></div>
</div>

</body>
</html>