<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Profile</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="bower_components/angular/angular.js" language="JavaScript"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js" language="JavaScript"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js" language="JavaScript"></script>
    <script src="js/app.js" language="JavaScript"></script>

</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="img/global/official_logo_black.png" width="150px">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Create <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Find</a></li>
                <li><a href="#">Kickarounds</a></li>
                <li><a href="#">Payments</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li class=" " dropdown is-open="status.isopen">
                    <a class="dropdown-toggle" dropdown-toggle ng-disabled="disabled" >Welcome, Phil <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Account</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Log Out</a></li>
                    </ul>
                </li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!--Content of dashboard-->
<div class="container-fluid">
    <row class ="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"> <h2>Create a Kickaround</h2></div>
            <div class="panel-body">
                <row class = "col-md-12">
                    <div class ="col-md-2">
                        <label>Name of Kickaround</label>
                    </div>
                    <div class ="col-md-10">
                        <input style="width: 100%;"> </input>
                    </div>
                </row>
                <row class = "col-md-12" style="padding-top: 20px">
                    <div class ="col-md-2">
                        <label>Date of Kickaround</label>
                    </div>
                    <div class ="col-md-10">
                        <input style="width: 100%;"> </input>
                    </div>
                </row>

                <row class = "col-md-12" style="padding-top: 20px">
                    <div class ="col-md-2">
                        <label>Time of Kickaround</label>
                    </div>
                    <div class ="col-md-4" ng-controller="TimepickerDemoCtrl">

                        <timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>

                    </div>
                </row>

            </div>
        </div>
    </row>


    <row>

    </row>


</div>

</body>
</html>