<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="bower_components/angular/angular.js" language="javascript"></script>
    <script src="js/vendor/ui-bootstrap-0.12.0.js" language="javascript"></script>
    <script src="js/vendor/ui-bootstrap-tpls-0.12.0.js" language="javascript"></script>
    <script src="js/app.js" language="javascript"></script>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="img/global/official_logo_black.png" width="150px">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Kickarounds <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Payments</a></li>
                <li><a href="#">Find</a></li>
                <li><a href="#">Create</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Welcome, Phil <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Account</a></li>
                         <li class="divider"></li>
                        <li><a href="#">Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!--Content of dashboard-->
<div class="container-fluid">
    <row class ="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"> <h2>Create a Kickaround</h2></div>
            <div class="panel-body">
                <row class = "col-md-12">
                    <div class ="col-md-2">
                        <label>Name of Kickaround</label>
                    </div>
                    <div class ="col-md-10">
                        <input style="width: 100%;"> </input>
                    </div>
                </row>

                <!--Day of the week?-->
                <row class = "col-md-12" style="padding-top: 20px">
                    <div class ="col-md-2">
                        <label>What day of the week do you play?</label>
                    </div>
                    <div class ="col-md-10">
                        <form action="">
                            <input type="radio" name="day" value="Monday">Monday<br>
                            <input type="radio" name="day" value="Tuesday">Tuesday<br>
                            <input type="radio" name="day" value="Wednesday">Wednesday<br>
                            <input type="radio" name="day" value="Thursday">Thursday<br>
                            <input type="radio" name="day" value="Friday">Friday<br>
                            <input type="radio" name="day" value="Saturday">Saturday<br>
                            <input type="radio" name="day" value="Sunday">Sunday<br>
                        </form>
                    </div>
                </row>

                <!--Time you play?-->
                <row class = "col-md-12" style="padding-top: 20px">
                    <div class ="col-md-2">
                        <label>Time of Kickaround</label>
                    </div>
                    <div class ="col-md-4" ng-controller="TimepickerDemoCtrl">

                        <div ng-controller="TimepickerDemoCtrl">
                            <timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                        </div>

                    </div>
                </row>

                <!--Standard of Football?-->
                <row class = "col-md-12" style="padding-top: 20px">
                    <div class ="col-md-2">
                        <label>Standard of Football</label>
                    </div>

                    <div class ="col-md-2" ng-controller="RatingDemoCtrl">
                        <rating style="margin-left: 20px" ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
                    </div>

                </row>


                <!--Standard of Football?-->
                <row class = "col-md-12" style="padding-top: 20px">
                    <div class ="col-md-2">
                        <label>Invite Players</label>
                        <p>(Copy & paste email addresses into this box)</p>
                    </div>

                    <div class ="col-md-10">
                        <textarea style="width: 100%; height: 200px"></textarea>
                    </div>
                </row>

                <!--Standard of Football?-->
                <row class = "col-md-12" style="padding-top: 20px">
                    <div class ="col-md-1 col-md-offset-11">
                        <button style="width: 100%">Submit</button>
                    </div>
                </row>

            </div>
        </div>
    </row>


    <row>

    </row>


</div>

</body>
</html>