.version.account /* version checker */
{
	color: #000001;
	background-color: #140FB7;
}

.html
{
	background-color: #006738;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.9589506172839px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#pu314
{
	width: 0.01px;
}

#u314
{
	z-index: 12;
	width: 272px;
	margin-right: -10000px;
}

#u312-4
{
	z-index: 4;
	width: 43px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 290px;
}

#u312-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 9px -10000px 0px 0px;
}

#u318-4
{
	z-index: 14;
	width: 87px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 348px;
}

#u312-4.MuseLinkActive,#u318-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 9px -10000px 0px 0px;
}

#u319-4
{
	z-index: 18;
	width: 43px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 450px;
}

#u318-4.MuseLinkActive,#u319-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 9px -10000px 0px 0px;
}

#u320-4
{
	z-index: 22;
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 508px;
}

#u319-4.MuseLinkActive,#u320-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 9px -10000px 0px 0px;
}

#u321-4
{
	z-index: 26;
	width: 68px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 611px;
}

#u320-4.MuseLinkActive,#u321-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 9px -10000px 0px 0px;
}

#u322-4
{
	z-index: 30;
	width: 55px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 694px;
}

#u321-4.MuseLinkActive,#u322-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 9px -10000px 0px 0px;
}

#u322-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 9px -10000px 0px 0px;
}

#u310
{
	z-index: 2;
	width: 20px;
	margin-right: -10000px;
	left: 835px;
}

#u313-4
{
	z-index: 8;
	width: 91px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 869px;
}

#u330
{
	z-index: 34;
	width: 960px;
	margin-top: 13px;
}

#u1047
{
	z-index: 35;
	width: 147px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1048
{
	z-index: 36;
	width: 147px;
	border-style: none;
	border-color: transparent;
	background-color: #353535;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u1048.MuseLinkActive
{
	background-color: #39B54A;
	margin: 0px -10000px 0px 0px;
}

#u1049-4
{
	z-index: 37;
	width: 124px;
	min-height: 27px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 14px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 21px;
}

#u1049-4.MuseLinkActive
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	margin: 11px -10000px 0px 0px;
}

#u1050
{
	z-index: 41;
	width: 958px;
	background-color: transparent;
	margin-top: 18px;
	position: relative;
}

#buttonu1231
{
	z-index: 43;
	width: 231px;
	border-color: #787878;
	background-color: #39B54A;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 8px;
	margin-left: 727px;
	margin-top: 12px;
	position: relative;
}

#buttonu1231:hover
{
	background-color: #545454;
	margin: 12px 0px 0px 727px;
}

#u1233-4
{
	z-index: 44;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #3C3C3C;
	font-size: 14px;
	letter-spacing: 1px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 56px;
}

#buttonu1231:hover #u1233-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 19px -10000px 0px 0px;
}

#buttonu1231.ButtonSelected #u1233-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 19px -10000px 0px 0px;
}

#buttonu1231:hover #u1233-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu1231.ButtonSelected #u1233-4 p
{
	color: #3C3C3C;
	visibility: inherit;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

