.version.competition_league /* version checker */
{
	color: #000013;
	background-color: #F55552;
}

.html
{
	background-color: #006738;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.50895061728147px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 62px;
}

#pu314
{
	width: 0.01px;
}

#u314
{
	z-index: 12;
	width: 272px;
	margin-right: -10000px;
}

#u312-4
{
	z-index: 4;
	width: 43px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 290px;
}

#u312-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 9px -10000px 0px 0px;
}

#u318-4
{
	z-index: 14;
	width: 87px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 348px;
}

#u312-4.MuseLinkActive,#u318-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 9px -10000px 0px 0px;
}

#u319-4
{
	z-index: 18;
	width: 43px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 450px;
}

#u318-4.MuseLinkActive,#u319-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 9px -10000px 0px 0px;
}

#u320-4
{
	z-index: 22;
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 508px;
}

#u319-4.MuseLinkActive,#u320-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 9px -10000px 0px 0px;
}

#u321-4
{
	z-index: 26;
	width: 68px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 611px;
}

#u320-4.MuseLinkActive,#u321-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 9px -10000px 0px 0px;
}

#u322-4
{
	z-index: 30;
	width: 55px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 694px;
}

#u321-4.MuseLinkActive,#u322-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 9px -10000px 0px 0px;
}

#u322-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 9px -10000px 0px 0px;
}

#u310
{
	z-index: 2;
	width: 20px;
	margin-right: -10000px;
	left: 835px;
}

#u313-4
{
	z-index: 8;
	width: 91px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 869px;
}

#u330
{
	z-index: 34;
	width: 960px;
	margin-top: 13px;
}

#u1110
{
	z-index: 35;
	width: 168px;
	margin-right: -10000px;
}

#u1111
{
	z-index: 36;
	width: 168px;
	margin-right: -10000px;
}

#u1111:hover
{
	margin: 0px -10000px 0px 0px;
}

#u1111:active
{
	margin: 0px -10000px 0px 0px;
}

#u1112-4
{
	z-index: 37;
	width: 137px;
	min-height: 27px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 17px;
}

#u1188
{
	z-index: 53;
	width: 168px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 170px;
}

#u1189
{
	z-index: 54;
	width: 168px;
	margin-right: -10000px;
}

#u1111.MuseLinkActive,#u1189:hover
{
	margin: 0px -10000px 0px 0px;
}

#u1189:active
{
	margin: 0px -10000px 0px 0px;
}

#u1190-4
{
	z-index: 55;
	width: 137px;
	min-height: 27px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 17px;
}

#u1191
{
	z-index: 59;
	width: 168px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 340px;
}

#u1193
{
	z-index: 60;
	width: 168px;
	margin-right: -10000px;
}

#u1189.MuseLinkActive,#u1193:hover
{
	margin: 0px -10000px 0px 0px;
}

#u1193:active
{
	margin: 0px -10000px 0px 0px;
}

#u1192-4
{
	z-index: 61;
	width: 137px;
	min-height: 27px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 17px;
}

#u1112-4.MuseLinkActive,#u1190-4.MuseLinkActive,#u1192-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	margin: 12px -10000px 0px 0px;
}

#u1113
{
	z-index: 41;
	width: 79px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 800px;
}

#u1115
{
	z-index: 42;
	width: 79px;
	margin-right: -10000px;
}

#u1193.MuseLinkActive,#u1115:hover
{
	margin: 0px -10000px 0px 0px;
}

#u1114-4
{
	z-index: 43;
	width: 46px;
	min-height: 27px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 15px;
}

#u1116
{
	z-index: 47;
	width: 80px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 880px;
}

#u1117
{
	z-index: 48;
	width: 80px;
	margin-right: -10000px;
}

#u1115.MuseLinkActive,#u1117:hover
{
	margin: 0px -10000px 0px 0px;
}

#u1117.MuseLinkActive
{
	margin: 0px -10000px 0px 0px;
}

#u1118-4
{
	z-index: 49;
	width: 31px;
	min-height: 27px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 25px;
}

#u1166
{
	z-index: 65;
	width: 961px;
	background-color: transparent;
	left: -1px;
	margin-top: 21px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

