.version.home_logged_in /* version checker */
{
	color: #00000D;
	background-color: #0FFBD1;
}

.html
{
	background-color: #006738;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 63px;
}

#pu314
{
	width: 0.01px;
}

#u314
{
	z-index: 23;
	width: 272px;
	margin-right: -10000px;
}

#u312-4
{
	z-index: 15;
	width: 43px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 290px;
}

#u312-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 9px -10000px 0px 0px;
}

#u318-4
{
	z-index: 25;
	width: 87px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 348px;
}

#u312-4.MuseLinkActive,#u318-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 9px -10000px 0px 0px;
}

#u319-4
{
	z-index: 29;
	width: 43px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 450px;
}

#u318-4.MuseLinkActive,#u319-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 9px -10000px 0px 0px;
}

#u320-4
{
	z-index: 33;
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 508px;
}

#u319-4.MuseLinkActive,#u320-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 9px -10000px 0px 0px;
}

#u321-4
{
	z-index: 37;
	width: 68px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 611px;
}

#u320-4.MuseLinkActive,#u321-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 9px -10000px 0px 0px;
}

#u322-4
{
	z-index: 41;
	width: 55px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 694px;
}

#u321-4.MuseLinkActive,#u322-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 9px -10000px 0px 0px;
}

#u322-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 9px -10000px 0px 0px;
}

#u310
{
	z-index: 13;
	width: 20px;
	margin-right: -10000px;
	left: 835px;
}

#u313-4
{
	z-index: 19;
	width: 91px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 869px;
}

#u330
{
	z-index: 45;
	width: 960px;
	margin-top: 13px;
}

#u354
{
	z-index: 46;
	width: 82px;
	border-style: none;
	border-color: transparent;
	background-color: #56BA57;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
}

#u353-4
{
	z-index: 47;
	width: 47px;
	min-height: 17px;
	background-color: transparent;
	font-size: 14px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 20px;
}

#u411-4
{
	z-index: 55;
	width: 319px;
	min-height: 17px;
	background-color: transparent;
	font-size: 14px;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 96px;
}

#pu394
{
	width: 0.01px;
	margin-top: 13px;
}

#u394
{
	z-index: 2;
	width: 950px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #A7A9AB;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	padding: 7px 3px 20px 6px;
}

#u356
{
	z-index: 51;
	width: 217px;
	background-color: transparent;
	margin-left: 2px;
	position: relative;
}

#u400
{
	z-index: 5;
	width: 219px;
	background-color: transparent;
	margin-top: 12px;
	position: relative;
}

#ppu415
{
	width: 0.01px;
	margin-top: 12px;
}

#pu415
{
	width: 0.01px;
	margin-right: -10000px;
}

#u415
{
	z-index: 9;
	width: 219px;
	background-color: transparent;
	position: relative;
}

#u418
{
	z-index: 11;
	width: 219px;
	background-color: transparent;
	margin-top: 12px;
	position: relative;
}

#u412
{
	z-index: 7;
	width: 219px;
	background-color: transparent;
	margin-top: 12px;
	position: relative;
}

#u395
{
	z-index: 3;
	width: 723px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 227px;
}

#u361
{
	z-index: 53;
	width: 726px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 234px;
}

#u405
{
	z-index: 59;
	width: 148px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 43px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

