.version.home_logged_out /* version checker */
{
	color: #000013;
	background-color: #06CEF7;
}

.html
{
	background-color: #006738;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.388580246914px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 1px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 62px;
}

#pu341
{
	width: 0.01px;
}

#u341
{
	z-index: 8;
	width: 272px;
	margin-right: -10000px;
}

#u337
{
	z-index: 2;
	width: 20px;
	margin-right: -10000px;
	left: 828px;
}

#u818-4
{
	z-index: 10;
	width: 54px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 855px;
}

#u340-4
{
	z-index: 4;
	width: 44px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 916px;
}

#u103
{
	z-index: 14;
	width: 960px;
	background-color: transparent;
	margin-top: 19px;
	position: relative;
}

#u113
{
	z-index: 16;
	width: 960px;
	background-color: transparent;
	margin-top: 25px;
	position: relative;
}

#u118
{
	z-index: 18;
	width: 960px;
	background-color: transparent;
	margin-top: 24px;
	position: relative;
}

#u123
{
	z-index: 20;
	width: 960px;
	background-color: transparent;
	left: -1px;
	margin-top: 25px;
	position: relative;
}

#u128
{
	z-index: 22;
	width: 958px;
	background-color: transparent;
	left: -1px;
	margin-top: 24px;
	position: relative;
}

#u138
{
	z-index: 24;
	width: 959px;
	background-color: transparent;
	left: -1px;
	margin-top: 25px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

