.version.kickaround_player /* version checker */
{
	color: #000016;
	background-color: #79591F;
}

.html
{
	background-color: #006738;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 62px;
}

#pu314
{
	width: 0.01px;
}

#u314
{
	z-index: 12;
	width: 272px;
	margin-right: -10000px;
}

#u312-4
{
	z-index: 4;
	width: 43px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 290px;
}

#u312-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 9px -10000px 0px 0px;
}

#u318-4
{
	z-index: 14;
	width: 87px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 348px;
}

#u312-4.MuseLinkActive,#u318-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 9px -10000px 0px 0px;
}

#u319-4
{
	z-index: 18;
	width: 43px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 450px;
}

#u318-4.MuseLinkActive,#u319-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 9px -10000px 0px 0px;
}

#u320-4
{
	z-index: 22;
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 508px;
}

#u319-4.MuseLinkActive,#u320-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 9px -10000px 0px 0px;
}

#u321-4
{
	z-index: 26;
	width: 68px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 611px;
}

#u320-4.MuseLinkActive,#u321-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 9px -10000px 0px 0px;
}

#u322-4
{
	z-index: 30;
	width: 55px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 694px;
}

#u321-4.MuseLinkActive,#u322-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 9px -10000px 0px 0px;
}

#u322-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 9px -10000px 0px 0px;
}

#u310
{
	z-index: 2;
	width: 20px;
	margin-right: -10000px;
	left: 835px;
}

#u313-4
{
	z-index: 8;
	width: 91px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 869px;
}

#u330
{
	z-index: 34;
	width: 960px;
	margin-top: 13px;
}

#u515
{
	z-index: 37;
	width: 147px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u516
{
	z-index: 38;
	width: 147px;
	border-style: none;
	border-color: transparent;
	background-color: #39B54A;
	position: relative;
	margin-right: -10000px;
}

#u517-4
{
	z-index: 39;
	width: 124px;
	min-height: 27px;
	border-style: none;
	border-color: transparent;
	background-color: #39B54A;
	font-size: 14px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 17px;
}

#u524
{
	z-index: 55;
	width: 147px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 149px;
}

#u526
{
	z-index: 56;
	width: 147px;
	border-style: none;
	border-color: transparent;
	background-color: #353535;
	position: relative;
	margin-right: -10000px;
}

#u525-4
{
	z-index: 57;
	width: 124px;
	min-height: 27px;
	border-style: none;
	border-color: transparent;
	background-color: #353535;
	font-size: 14px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 11px;
}

#u518
{
	z-index: 43;
	width: 79px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 800px;
}

#u519
{
	z-index: 44;
	width: 79px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
}

#u520-4
{
	z-index: 45;
	width: 46px;
	min-height: 27px;
	background-color: transparent;
	font-size: 14px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 15px;
}

#u521
{
	z-index: 49;
	width: 80px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 880px;
}

#u522
{
	z-index: 50;
	width: 80px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
}

#u523-4
{
	z-index: 51;
	width: 31px;
	min-height: 27px;
	background-color: #000000;
	font-size: 14px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 25px;
}

#u510
{
	z-index: 35;
	width: 963px;
	background-color: transparent;
	margin-top: 18px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

