.version.kickaround_find_local_selected /* version checker */
{
	color: #0000FC;
	background-color: #0BB639;
}

.html
{
	background-color: #006738;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 438px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#u310
{
	z-index: 2;
	width: 20px;
	margin-right: -10000px;
	left: 835px;
}

#u312-4
{
	z-index: 4;
	width: 43px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 290px;
}

#u312-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 9px -10000px 0px 0px;
}

#u313-4
{
	z-index: 8;
	width: 91px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 869px;
}

#u314
{
	z-index: 12;
	width: 272px;
	margin-right: -10000px;
}

#u318-4
{
	z-index: 14;
	width: 87px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 348px;
}

#u312-4.MuseLinkActive,#u318-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 9px -10000px 0px 0px;
}

#u319-4
{
	z-index: 18;
	width: 43px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 450px;
}

#u318-4.MuseLinkActive,#u319-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 9px -10000px 0px 0px;
}

#u320-4
{
	z-index: 22;
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 508px;
}

#u319-4.MuseLinkActive,#u320-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 9px -10000px 0px 0px;
}

#u321-4
{
	z-index: 26;
	width: 68px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 611px;
}

#u320-4.MuseLinkActive,#u321-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 9px -10000px 0px 0px;
}

#u322-4
{
	z-index: 30;
	width: 55px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 694px;
}

#u321-4.MuseLinkActive,#u322-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 9px -10000px 0px 0px;
}

#u322-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 9px -10000px 0px 0px;
}

#u330
{
	z-index: 34;
	width: 960px;
	margin-right: -10000px;
	margin-top: 40px;
}

#u633
{
	z-index: 35;
	width: 147px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u635
{
	z-index: 36;
	width: 147px;
	border-style: none;
	border-color: transparent;
	background-color: #353535;
	position: relative;
	margin-right: -10000px;
}

#u634-4
{
	z-index: 37;
	width: 124px;
	min-height: 27px;
	border-style: none;
	border-color: transparent;
	background-color: #353535;
	font-size: 14px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 17px;
}

#u630
{
	z-index: 53;
	width: 147px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 148px;
}

#u632
{
	z-index: 54;
	width: 147px;
	border-style: none;
	border-color: transparent;
	background-color: #353535;
	position: relative;
	margin-right: -10000px;
}

#u631-4
{
	z-index: 55;
	width: 124px;
	min-height: 27px;
	border-style: none;
	border-color: transparent;
	background-color: #353535;
	font-size: 14px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 11px;
}

#u627
{
	z-index: 41;
	width: 79px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 800px;
}

#u629
{
	z-index: 42;
	width: 79px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
}

#u628-4
{
	z-index: 43;
	width: 46px;
	min-height: 27px;
	background-color: #000000;
	font-size: 14px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 15px;
}

#u636
{
	z-index: 47;
	width: 80px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 880px;
}

#u637
{
	z-index: 48;
	width: 80px;
	border-style: none;
	border-color: transparent;
	background-color: #39B54A;
	position: relative;
	margin-right: -10000px;
}

#u638-4
{
	z-index: 49;
	width: 31px;
	min-height: 27px;
	background-color: #39B54A;
	font-size: 14px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 25px;
}

#u639
{
	z-index: 59;
	width: 960px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 93px;
}

#u654
{
	z-index: 61;
	width: 1160px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -36px;
	left: -100px;
}

#u649
{
	z-index: 63;
	width: 890px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 212px;
	left: 35px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

