.version.kickround_outsider_logged_out /* version checker */
{
	color: #0000EE;
	background-color: #9E4B99;
}

.html
{
	background-color: #006738;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 62px;
}

#pu341
{
	width: 0.01px;
}

#u341
{
	z-index: 10;
	width: 272px;
	margin-right: -10000px;
}

#u337
{
	z-index: 4;
	width: 20px;
	margin-right: -10000px;
	left: 828px;
}

#u818-4
{
	z-index: 12;
	width: 54px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 855px;
}

#u340-4
{
	z-index: 6;
	width: 44px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 916px;
}

#u813
{
	z-index: 2;
	width: 967px;
	background-color: transparent;
	left: -4px;
	margin-top: 20px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

