#u341,#u337
{
	background-color: transparent;
	position: relative;
}

#u818-4,#u340-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

