.version.team_oraniser /* version checker */
{
	color: #0000E0;
	background-color: #9D7909;
}

.html
{
	background-color: #006738;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.47323633156975px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 1px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 62px;
}

#pu314
{
	width: 0.01px;
}

#u314
{
	z-index: 14;
	width: 272px;
	margin-right: -10000px;
}

#u312-4
{
	z-index: 6;
	width: 43px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 290px;
}

#u312-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 9px -10000px 0px 0px;
}

#u318-4
{
	z-index: 16;
	width: 87px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 348px;
}

#u312-4.MuseLinkActive,#u318-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 9px -10000px 0px 0px;
}

#u319-4
{
	z-index: 20;
	width: 43px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 450px;
}

#u318-4.MuseLinkActive,#u319-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 9px -10000px 0px 0px;
}

#u320-4
{
	z-index: 24;
	width: 88px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 508px;
}

#u319-4.MuseLinkActive,#u320-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 9px -10000px 0px 0px;
}

#u321-4
{
	z-index: 28;
	width: 68px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 611px;
}

#u320-4.MuseLinkActive,#u321-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 9px -10000px 0px 0px;
}

#u322-4
{
	z-index: 32;
	width: 55px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 694px;
}

#u321-4.MuseLinkActive,#u322-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 9px -10000px 0px 0px;
}

#u322-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 9px -10000px 0px 0px;
}

#u310
{
	z-index: 4;
	width: 20px;
	margin-right: -10000px;
	left: 835px;
}

#u313-4
{
	z-index: 10;
	width: 91px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 869px;
}

#u330
{
	z-index: 36;
	width: 960px;
	margin-top: 13px;
}

#u854
{
	z-index: 37;
	width: 147px;
	margin-right: -10000px;
}

#u856
{
	z-index: 38;
	width: 147px;
	margin-right: -10000px;
}

#u856:hover
{
	margin: 0px -10000px 0px 0px;
}

#u856:active
{
	margin: 0px -10000px 0px 0px;
}

#u855-4
{
	z-index: 39;
	width: 124px;
	min-height: 27px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 17px;
}

#u855-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	margin: 12px -10000px 0px 0px;
}

#u863
{
	z-index: 55;
	width: 147px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 148px;
}

#u864
{
	z-index: 56;
	width: 147px;
	margin-right: -10000px;
}

#u856.MuseLinkActive,#u864:hover
{
	margin: 0px -10000px 0px 0px;
}

#u864:active
{
	margin: 0px -10000px 0px 0px;
}

#u865-4
{
	z-index: 57;
	width: 124px;
	min-height: 27px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 11px;
}

#u857
{
	z-index: 43;
	width: 79px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 800px;
}

#u859
{
	z-index: 44;
	width: 79px;
	margin-right: -10000px;
}

#u864.MuseLinkActive,#u859:hover
{
	margin: 0px -10000px 0px 0px;
}

#u858-4
{
	z-index: 45;
	width: 46px;
	min-height: 27px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 15px;
}

#u860
{
	z-index: 49;
	width: 80px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 880px;
}

#u862
{
	z-index: 50;
	width: 80px;
	margin-right: -10000px;
}

#u859.MuseLinkActive,#u862:hover
{
	margin: 0px -10000px 0px 0px;
}

#u862.MuseLinkActive
{
	margin: 0px -10000px 0px 0px;
}

#u861-4
{
	z-index: 51;
	width: 31px;
	min-height: 27px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 25px;
}

#u962
{
	z-index: 2;
	width: 960px;
	background-color: transparent;
	margin-top: 17px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

